<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First view</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Mi first view using render</h1>
  <img src="/img/humificacion.jpg" alt="">
  <!--the code below is the way to handle js code onto html document, 
      so it's one of the features that EJS afford us-->
  <div class="for">
     <% for(let i = 0; i < 6; i++) { %> 
      <p> vuelta <%= i %></p>
   <% } %>
  </div>
</body>
</html>