body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #EAC926;
  margin-bottom: 10px;
}

header h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

header nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

header nav ul li {
  list-style: none;
}

.burger-menu {
  background-color: #03264C;
  text-align: center;
  color: #ffffff;
  max-width: 15px;
  padding: 15px;
  border-radius: 7px;
  margin: auto;
}

.based h2 {
  font-size: 24px;
}

.based article p {
  font-size: 18px;
  font-weight: bold;
}

.based article h3 {
  font-size: 16px;
  font-weight: 400;
}

.sales h2 {
  font-size: 24px;
}

.sales article p {
  font-size: 18px;
  font-weight: bold;
}

.sales article h3 {
  font-size: 16px;
  font-weight: 400;
}

footer article h3 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}

footer article h4 {
  text-align: center;
  font-size: 12px;
  margin-top: 0;  
}

 .icon-color {
  color: #1259C3;
  font-size: 2em;
  margin-bottom: 10px;

}




