<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users list</title>
</head>
<body>

 <h1>Process by GET users list</h1>

 <ul>
  <% for(let i = 0; i < usersResult.length; i++) { %>
    <li>
      <a href="/detail/<%= usersResult[i].id %>"><%= usersResult[i].nombre %></a>
    </li>
    <% } %>
 </ul>
    <h2>search</h2>
    <form action="/search" method="get">
      <input type="text" name="search">
      <input type="submit" value="search">
    </form>
</body>
</html>