/*Give style of box to div label 
  div {
  width: 100px;
  border: solid 1px red;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}
*/

/* Make the site more lighter*/

.top {
  height: 40vh;
  width: 100%;
  background-color: lightseagreen;
  color: white;
  font-size: 28px;
  border-bottom: solid 3px indigo;
  padding: 22px;
  margin-bottom: 15px;
  text-align: center;
  box-sizing: border-box;
}
.center {
  height: 20vh;
  width: 100%;
  background-color: gainsboro;
  margin-bottom: 15px;
  padding: 30px 0px 30px 12px;
  border: dashed 1px black;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}
.bottom {
  height: 40vh;
  width: 100%;
  background-color: rebeccapurple;
  color: white;
  border-top: solid 1px lightseagreen;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
}


