<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="main-header">
    <div class="top-header">
      <img src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
      <h2 class="pay">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de credito
      </h2>
    </div>
    
      <a href="#" class="burger-button"><i class="fa-solid fa-bars"></i></a>
    
    <nav class="nav-bar">
      <ul class="left-nav-bar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-nav-bar">
        <li><a href="#">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
        <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
      </ul>
    </nav>

  </header>

  <!-- Form -->

  <form action="/make-product" method="post" class="make-product">
    <div class="campos">
      <label>Nombre del producto</label>
      <input type="text" name="nombre" placeholder="Introducir nombre" class="campos-control">
    </div>
    <div class="campos">
      <label>Precio del producto</label>
      <input type="text" name="precio" placeholder="Introducir precio" class="campos-control">
    </div>
    <div class="campos">
      <label>categoria</label>
      <select name="categoria" class="campos-control">
        <option value="hogar">Hogar</option>
        <option value="electro">Electro</option>
        <option value="indumentaria">Indumentaria</option>
      </select>
    </div>
    <div class="campos">
      <label>Ciudad</label>
      <select name="ciudad" class="campos-control">
        <option value="bgta">Bogota</option>
        <option value="iba">Ibague</option>
        <option value="arm">Armenia</option>
      </select>
    </div>
    <div class="campos">
      <label>Descripcion del producto</label>
      <textarea name="descripcion producto" placeholder="descripcion producto" class="campos-control"></textarea>
    </div>
    <div class="campos">
      <label>En oferta?</label>
      <input type="radio" name="enOferta">
    </div>

      <button type="submit">Guardar</button>
      <button type="reset">Borrar</button>

  </form>

  <main>

  </main>

  <footer>

  </footer>
</body>
</html>