<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star wars</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles/normalize.css">
</head>
<body>
  <h1>Star wars</h1>

  <h2>Main Characters and their importance</h2>

  <ul>
    <li>
      <img src="/img/luckSkywalker.png" width="200" height="150" alt="">
      <strong> <em>Luck Skywalker</em> </strong>
    </li><br><br>
    <li>
      <img src="/img/leia.png" width="200" height="150" alt="">
      <strong> <em>Princess Leia</em> </strong>
    </li>
  </ul>


</body>
</html>