<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star wars</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Star wars Fan</h1>

  <h2>This is a subtitle</h2>

  <h3>This is a subusubtitle</h3>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eveniet, perferendis voluptate esse est vel dolores debitis voluptatem et veniam accusamus nihil commodi necessitatibus facere ratione corporis beatae, quasi dolore?</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quae minus accusamus. Perspiciatis optio error dignissimos, odit nemo maiores repudiandae! Placeat cupiditate sunt beatae, rerum magnam saepe neque. Voluptatem, tempore.</p>

    <ol type = "I" >
      <li>link 1</li>
      <li>link 2</li>
      <li>path to google: 
        <ul><a href="https://www.google.com">Go to google</a></ul>
      </li>
    </ol>

</body>
</html>