<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eshop</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles/normalize.css">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="img/logo-mercado-liebre.svg" class="logo">
      <h3 class="pago">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h3>
    </div>
    <a href="#" class="burger-button">
      <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="main-navbar">

      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li><a href="#">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
        <li><a href="#">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
      </ul>
    </nav>
  </header>

  <main>

  </main>

  <footer>

  </footer>

</body>

</html>