<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DH exercises</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <!--<div class="frase-cortazar">
    <div class="parte-1">"Las escaleras</div>
    <div class="parte-2">se suben de frente,</div>
    <div class="parte-3">pues hacia atrás</div>
    <div class="parte-4">o de costado</div>
    <div class="parte-5">resultan particularmente</div>
    <div class="parte-5">incómodas."</div>
  </div>

  <div class="frase">
    <p>existo</p>
    <p>luego</p>
    <p>Pienso,</p>
</div>

<div class="nav-bar">
  <img src="https://bit.ly/2Qy9lB9">

  <ul class="enlaces">
      <li><a href="">Equipos |</a></li>
      <li><a href="">Fechas |</a></li>
      <li><a href="">Árbitros |</a></li>
      <li><a href="">Directores Técnicos |</a></li>
      <li><a href="">Tabla promedios |</a></li>
  </ul>
</div>

<div class="juego-dardos">
  <img src="https://i.imgur.com/TzuYXUL.png">
</div> -->

<section class="flex-container">

  <div class="box"><a href="">Home |</a></div>
  <div class="box"><a href="">Contacto |</a></div>
  <div class="box"><a href="">Preguntas frecuentes |</a></div>
  <div class="box"><a href="">Escribinos |</a></div>

</section>

<!--<div class="surf-en-el-mar">
  <img src="https://i.imgur.com/RGqQuPS.png">
  <img src="https://i.imgur.com/sf76emp.png"> 
  <img class="tabla" src="https://i.imgur.com/k4qubEK.png">
</div>-->

<div class="tetris">
  <img class="pieza-tetris" src="https://i.imgur.com/C5mVK8n.png">
</div>

</body>
</html>