<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Queries</title>
  <link rel="stylesheet" href="/css/stylesMediaQ.css">
  <link rel="stylesheet" href="/css/styles/normalize.css">
</head>
<body>
  <div class="container01">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse neque commodi aperiam. Quo ipsam in expedita minus sint et, quae dolore alias repudiandae facere a nihil perspiciatis, voluptates labore dignissimos!
  </div>
  <p class="container02">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, et. Doloremque, quo? Laborum eum asperiores sapiente unde velit nesciunt, laudantium voluptatibus labore porro natus cumque, quasi vel, rerum in qui?
  </p>
  
</body>
</html>