<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users list</title>
</head>
<body>

 <h1>Process by GET users list</h1>

 <ul>
  <% for(let i = 0; i < users.length; i++) { %>
    <li>
      <a href="/users/detail/<%= users[i].id %>"><%= users[i].nombre %></a>
      <form action="/delete/<%= users[i].id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% } %>
 </ul>
    <h2>Searching users</h2>

    <form action="/search" method="get">
      <input type="text" name="search">
      <input type="submit" value="search">
    </form>

</body>
</html>