<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba</title>
  <link rel="stylesheet" href="css/stylesHome.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="main-header">
    <div class="top-navbar">
      <nav class="main-navbar">
          <a href="#">Servicios Hogar</a>
          <a href="#">Empresas</a>
          <a href="#">Nosotros</a>
      </nav>
    </div>
   
  </header>

  <main>
    
  </main>

  <footer>

  </footer>
</body>
</html>