body {
  font-family: 'Roboto', sans-serif;
}

.top-navbar {
  background-color: #264653;
  
}
.main-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px 10px;
}
.main-navbar a {
  text-decoration: none;
  color: #fefae0;
  
}