body {
  font-family: 'Roboto', sans-serif;
}

.top-navbar {
  background-color: #023047;
}
.main-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px 10px;
}
.main-navbar a {
  text-decoration: none;
  color: #ffb703; 
}
.logo {
  width: 200px;
}
.container-menu {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;

}
.menu-navbar ul {
  list-style: none;
  display: flex;
}

.menu-navbar  li a {
  color: #023047;
  padding: 5px 5px 0 0;
  margin-left: 10px;

  
}