
body {
  background-color: pink;
}

div.container01 {
  width: 90%;
  padding: 20px;
  background-color: azure;
  border: solid 2px skyblue;
}
p.container02 {
  width: 50%;
  padding: 10px;
  background-color: skyblue;
  border: solid 2px azu;
}
@media (min-width: 576px ) { 
  div.container01,
  p.container02 {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 768px ) { 
  
  body {
    background-color: white;
  }
  div.container01 {
    background-color: aqua;
    width: 70%;
    margin: auto;
  }
  p.container02 {
    background-color: blue;
    width: 70%;
    margin:auto;
  }
}
@media (min-width: 992px ) { 
 
  div.container01 {
    background-color: aqua;
    width: 70%;
    border: solid 10px black;
    margin: auto;
  }
  p.container02 {
    background-color: blue;
    width: 70%;
    border: solid 10px black;
    margin:auto;
  }
}
@media (min-width: 1200px ) { 
 
  div.container01 {
    background-color: aqua;
    max-width: 1200px;
    border: solid 10px black;
    margin: auto;
  }
  p.container02 {
    background-color: blue;
    max-width: 1200px;
    border: solid 10px black;
    margin:auto;
  }
}
