<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add selectors Styles</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  
  <h1 id="giant">Hi, world!!</h1><br>
  
  <h3>HTML5</h3>
  <p class="bold">Description</p>
  <p>Structure and Wireframe</p>
  
  <h3>CSS</h3>
  <p class="bold">Description</p>
  <p>Apperance and Styles</p>

  <h3>JS</h3>
  <p class="bold">Description</p>
  <p>Interaction and Energy</p>

  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nobis reiciendis laboriosam eos rem sed, consequuntur consectetur, eum harum facere alias aliquam excepturi maiores numquam. Mollitia non nostrum reprehenderit doloremque?</h2>

  <p id="contact">Contact us</p>

</body>
</html>