body {
  font-family: 'Roboto', sans-serif;
}

.main-header {
  background-color: #EAC926;
  padding: 20px;  
}

.logo {
  width: 200px;
}

.pay {
  font-weight: 400;
  text-align: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px;
  font-size: 17px;
}

.burger-button {
  background-color: #03264C;
  color: #ffffff;
  display: block;
  max-width: 30px;
  border-radius: 7px;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;

}

@media(min-width: 360px) {
  .nav-bar {
    display: none;
  }
}

@media(min-width: 768px) {
  .nav-bar {
    display: flex;
    border: solid 2px red;
    justify-content: space-between;
  }
}