@font-face {
  font-family: 'Starjedi' ;
  src: url(/fonts/Starjedi.ttf);
  font-weight: bolder;
  font-style: bold;
}

body {
  background-image: url(/img/deathStarDestroyed.jpg);
  background-size: cover;
}
h1 {
  font-family: 'Starjedi',sans-serif ;
  font-size: 70px;
  color: yellow;
  text-align: center;
}