
body {
  font-family: 'Roboto' sans-serif;
}

.main-header {
  background-color: #EAC926;
  padding: 20px;
}

.logo {
  width: 200px;
}

.pago {
  font-weight:400;
  text-align: center;
}

.burger-button {
  background-color: #03264C;
  color: #ffffff;
  display: block;
  max-width: 35px;
  text-align: center;
  font-size: 17px;
  border-radius: 7px;
  margin: auto;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
}
/* The Media Queries below allow us make rules to the behave of our site can change depend on size of the device where we are watching. So, bellow we can find the standard values sizes from min to max where should change our site in theory.*/

@media (min-width: 576px ) { 
 
}
@media (min-width: 768px ) { 
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
   }
  .pago {
    max-width: 240px;
    text-align: right;
  }
  .burger-button {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
    
  }
  .main-navbar li {
    margin: 5px;
  }
}
@media (min-width: 992px ) { 
  
}
@media (min-width: 1200px ) { 
 .main-header-top-bar, .main-navbar {
  max-width: 1200px;
  margin: auto;
 }
 .main-navbar li {
  margin: 10px;
 }
 .main-navbar a {
    font-size: 19px;
 }
 .pago {
  max-width: none;
  text-align: right;
 }
}