body {
  font-family: 'Roboto', sans-serif;
}

.main-header {
  background-color: #EAC926;
  padding: 20px;  
}

.logo {
  width: 200px;
}

.pay {
  font-weight: 400;
  text-align: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
}

.burger-button {
  background-color: #03264C;
  color: #ffffff;
  display: block;
  max-width: 30px;
  border-radius: 7px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

.make-product {
  padding: 20px 15px;
}

.campos {
  margin-bottom: 15px;
}

.campos label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

.campos-control {
  width: 95%;
  padding: 8px;
}

form button {
  background-color: #EAC926;
  padding: 0 5px;
  font-size: 18px;
  border-radius: 5px;
}

@media(min-width: 360px) {
  .nav-bar {
    display: none;
  }
}

@media(min-width: 768px) {
 
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .pay {
    max-width: 300px;
    text-align: right;
  }
  .burger-button {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar ul {
    display: flex;
  }
  .nav-bar li {
    margin: 5px;
  }
  .nav-bar a {
    font-size: 14px;
  }
}

@media (min-width: 1220px) {
  .top-header, .nav-bar {
    margin: auto;
    max-width: 1220px;
  }
  .logo {
    width: 250px;
  }
  .nav-bar li {
    margin: 15px;
  }
  .nav-bar a {
    font-size: 19px;
  }
  .nav-bar {
    margin-top: 20px;
  }
  .pay {
    max-width: none;
    font-size: 22px;
    font-weight: 400;
  }
}