*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*-----------------------------------
              HEADER
-------------------------------------*/

header {
  background-color: #EAC926;
  padding: 10px;
}
.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  align-items: center;
}
.logo {
  width: 50%;
  padding: 15px;
}
.search {
  width: 50%;
}
.search input {
  border-radius: 5px;
}

header h3 {
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
header nav{
  display: none;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  padding: 0 5px;
}
.burger-menu {
  background-color: #03264C;
  color: #ffffff;
  text-align: center;
  display: block;
  max-width: 40px;
  padding: 5px;
  border-radius: 8%;
  margin: 0 auto;
}
.banner{
  width: 100%;
}

/*-----------------------------------
              MAIN
-------------------------------------*/

main {
  width: 90vw;
  margin: 0 auto;
}
article {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
  transition: all 0.5s;
}
main section article img{
  width: 100%;
}
main section h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.discount, .description {
  font-size: 16px;
  font-weight: 400;
}
.discount {
  color: #0dba24;
}
.info-article {
  border-top: solid 1px #ebebeb;
  padding: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.info-article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: solid 1px #39b54a;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 0.5s;
}
.price {
  width: 30%;
}
.discount {
  width: 70%;
}
.product h4 {
  display: none;
}
.description {
  transition: all 0.7s;
}

/*-----------------------------------
              FOOTER
-------------------------------------*/

footer .pay, .delivery, .security h3 {
  text-align: center;
  font-size: 18px;
}
footer .pay, .delivery, .security h4 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.icon-color {
  color: #1259C3;
  font-size: 2em;
  margin-bottom: 10px;
}




@media(min-width: 361px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  main section article {
    width: 45%;
  }
  .top-header {
    display: flex;
    justify-content: space-around;
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu {
    display: none;
  }
}
@media(min-width: 769px) {
  main section article {
    width: 22.5%;
  }
  header nav ul li a {
    font-size: 18px;
  }
  .description {
    display: none;
  }
  article:hover .description {
    display: block;
  }
  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  article:hover i {
    transform: rotate(-90deg);
  }
}






